<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ship Locations</title>
    <!-- CSS -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app">
        <div v-if="!loading" class="content">
            <form onsubmit="return false">
                <button v-on:click="logout()">Log out</button>
            </form>
            <form onsubmit="return false">
                <button v-on:click="goToHomePage()">Home Page</button>
            </form>
            <h1>Ship Locations</h1>
            <div class="gridsBox">
                <div>
                    <h3>Your Ships</h3>
                    <h4>{{gamePlayersObj.gp.email}}</h4>
                    <div class="grid-container grid-container-ships">
                        <div v-for="i in gridSize*gridSize" v-bind:data-cellPosition="getCellPosition(i)" v-bind:class="getCellClassShips(i)">{{getCellNameShips(i)}}</div>
                    </div>
                </div>
                <div>
                    <h3>Oponent</h3>
                    <h4>{{gamePlayersObj.oponent.email}}</h4>
                    <div class="grid-container grid-container-salvoes">
                        <div v-for="i in gridSize*gridSize" v-bind:data-cellPosition="getCellPosition(i)" v-bind:class="getCellClassSalvoes(i)">{{getCellNameSalvoes(i)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPTS -->
    <!--Vue-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- JS -->
    <script src="scripts/game.js"></script>
</body>

</html>