html {
  font-size: 16px;
}

.navbar {
  /* box */
  height: 60px;
  padding: 5px;
  background-color: black;
  position: sticky;
  top: 0;

  /* text */
  color: rgb(196, 196, 196);
  font-weight: bold;
  font-size: 18px;
}

.navbar-container {
  /* box */
  width: 1200px;
  height: 100%;
  margin: auto;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  /* box */
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 50px;
  padding: 5px;
  margin-left: 30px;
  /* text */
  text-align: center;
  color: white;
  font-size: 10px;
  line-height: 50px;
}

.form-box {
  /* box */
  height: 100%;
  width: 100%;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.game-form,
.login-form,
.logout-form {
  /* box */
  height: 100%;
  width: 70%;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-form {
  /* box */
  height: 100%;
  width: 100%;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-form button,
.login-form button,
.logout-form button {
  /* box */
  height: 100%;
  background-color: black;
  border: none;
  /* text */
  font-size: 18px;
  font-weight: bold;
  color: rgb(196, 196, 196);
  /* cursor */
  cursor: pointer;
}

.logout-form button {
  width: 40%;
}

.login-form button {
  width: 20%;
}

.login-form button:hover,
.logout-form button:hover {
  color: white;
}

.page-container {
  /* box */
  width: 1200px;
  margin: auto;
}

.table-box {
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  /* box */
  margin-top: 10px;
  margin-bottom: 10px;
  /* text */
  text-align: center;
}

h1 {
  height: 150px;
  line-height: 150px;
  font-size: 65px;
}

h2 {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

h3 {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}


.game-status-box {
  /* box */
  height: 60px;
  /* text */
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}

/* TABLE */
table {
  /* box */
  width: 100%;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  border-bottom: thin solid black;
}

th,
td {
  /* box */
  padding: 8px;
  /* text */
  text-align: left;
}

tr:nth-child(even) {
  /* box */
  background-color: #f2f2f2;
}

/* GRID */
.grids-box {
  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grids-box>div {
  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponent-title-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shots-box {
  /* box */
  height: 30px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shots-box h4,
.shots-box button {
  flex-grow: 1;
}
.shots-box p{
  flex-grow: 3;
}

.shots-box h4,
.shots-box p {
  height: 100%;
  line-height: 30px;
  text-align: center;
}

.shots-box h4 {
  font-weight: bold;
}

.shots-box p {
  font-size: 30px;
}

.grid-container {
  /* box */
  width: fit-content;

  /* DISPLAY GRID */
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
}

.grid-container-ships {
  /* box */
  background-color: rgb(171, 214, 248);
}

.grid-container-ships,
.grid-container-ships>div {
  /* box */
  border: thin solid rgb(39, 96, 139);
}

.grid-container-salvoes {
  /* box */
  background-color: rgb(250, 210, 164);
}

.grid-container-salvoes,
.grid-container-salvoes>div {
  border: thin solid rgb(255, 184, 103);
}


/* GRID ITEMS */
.grid-item,
.grid-item-GP-Ship {
  /* DISPLAY FLEX */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-GP-Ship {
  /* box */
  height: 100%;
  width: 100%;
}

.grid-item-OP-Salvo,
.grid-item-OP-Salvo-Hit,
.grid-item-OP-Salvo-Sunk,
.grid-item-OP-Salvo-Empty {
  /* box */
  height: 95%;
  width: 95%;
}

.grid-item-GP-Ship-Salvo,
.grid-item-GP-noShip-Salvo,
.grid-item-OP-Salvo,
.grid-item-OP-Salvo-Hit,
.grid-item-OP-Salvo-noHit,
.grid-item-OP-Salvo-Sunk,
.grid-item-OP-Salvo-Empty,
.grid-item-OP-Salvo-Aim {
  /* box */
  border-radius: 50px;
}

.grid-item-GP-noShip-Salvo,
.grid-item-OP-Salvo-noHit {
  /* box */
  height: 80%;
  width: 80%;
  border: 2px solid rgba(185, 56, 47, 0.363);
  /* text */
  text-align: center;
  line-height: 40px;
}

.grid-item,
.grid-item-drop {
  /* box */
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-item-drop-allowed {
  /* box */
  background-color: rgba(181, 255, 121, 0.8);
}

.grid-item-drop-denied {
  /* box */
  background-color: rgba(255, 121, 121, 0.8);
}

.grid-item-GP-Ship {
  /* box */
  background-color: rgb(16, 90, 146);
  border: thin solid rgb(16, 90, 146);
}

.grid-item-GP-Ship-Salvo {
  /* box */
  height: 85%;
  width: 85%;
  background-color: rgb(186, 43, 32);
  /* text */
  text-align: center;
  line-height: 42px;
}

.grid-item-OP-Salvo {
  /* box */
  background-color: rgb(194, 112, 18);
}

.grid-item-OP-Salvo-Hit,
.grid-item-OP-Salvo-Sunk {
  /* text */
  text-align: center;
  line-height: 46px;
}

.grid-item-OP-Salvo-Hit {
  /* box */
  background-color: rgb(255, 213, 25);
}

.grid-item-OP-Salvo-Sunk {
  /* box */
  background-color: rgba(255, 52, 25);
}

.grid-item-OP-Salvo-Aim {
  /* box */
  height: 70%;
  width: 70%;
  background-color: rgb(194, 112, 18);
}

.grid-item-GP-Margin,
.grid-item-OP-Margin {
  /* box */
  height: 100%;
  width: 100%;
  /* text */
  text-align: center;
  line-height: 50px;
}

.grid-item-GP-Margin {
  /* box */
  background-color: rgba(171, 215, 248, 0.459);
}

.grid-item-OP-Margin {
  /* box */
  background-color: rgb(250, 210, 164, 0.459);
}

/* SHIPS */
.ship1-H {
  /* box */
  width: 250px;
  height: 50px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;

}

.ship1-V {
  /* box */
  width: 50px;
  height: 250px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;

}

.ship2-H {
  /* box */
  width: 200px;
  height: 50px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
}

.ship2-V {
  /* box */
  width: 50px;
  height: 200px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;
}

.ship3-H {
  /* box */
  width: 150px;
  height: 50px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
}

.ship3-V {
  /* box */
  width: 50px;
  height: 150px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;
}

.ship4-H {
  /* box */
  width: 150px;
  height: 50px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
}

.ship4-V {
  /* box */
  width: 50px;
  height: 150px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;
}

.ship5-H {
  /* box */
  width: 100px;
  height: 50px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: row;
}

.ship5-V {
  /* box */
  width: 50px;
  height: 100px;

  /* DISPLAY FLEX */
  display: flex;
  flex-direction: column;
}

.grid-item-Ship1,
.grid-item-Ship2 {
  /* box */
  width: 50px;
  height: 50px;
  z-index: 50;

  /* cursor */
  cursor: pointer;
}

.grid-item-Ship1 {
  /* box */
  background-color: rgb(18, 163, 30);
  border: thin solid rgb(18, 163, 30);
}

.grid-item-Ship2 {
  /* box */
  background-color: rgb(16, 90, 146);
  border: thin solid rgb(16, 90, 146);
}

.invisible {
  /* box */
  display: none;
}

.btn-rotate {
  /* box */
  width: 20px;
  height: 20px;
  margin: 0;
}

.red>div {
  /* box */
  background-color: red;
}