.gridsBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.grid-container {
    /*box*/
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(11,50px);
    grid-template-rows: repeat(11,50px);
    background-color: rgb(171, 214, 248);
    grid-gap:2px;
    padding: 2px;
  }

  .grid-item{
      text-align: center;
      line-height: 50px;
      background-color: rgba(255, 255, 255, 0.8);
  }

  .grid-item-withShip{
    text-align: center;
    line-height: 50px;
    background-color: rgb(8, 53, 87);
    border: 3px;
    border-style: solid;
    border-color: black;
  }